html, body {
    height: 100%;
    width: 100%;
    border: 1px;
}

div {
    border-collapse: collapse;
    border: 1px dotted black;
    margin: 0px;
}

#div-header {
    height: 15%;
    width: 100%;
}

#div-body {
    height: 80%;
    width: 100%;
}

#div-bottom {
    width: 100%;
}

footer {
}

#div-channels {
    height: 100%;
    width: 100%;
    float: left;
    vertical-align: top;
}

#div-menu {
    height: 50%;
}

div.channel {
    height: 32%;
    width: 100%;
}

div.channel-activity {
    height: 100%;
    width: 75%;
    float: left;
}

div.channel-ticker {
    height: 100%;
    width: 25%;
    float: right;
}

circle:hover {
    cursor: pointer;
    
}