@section scripts
{
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/main")
    @Scripts.Render("~/bundles/appmodule")
    <script type="text/javascript">var app= "@(ViewData["appl"].ToString())"</script>
}

<div id="div-channels" ng-app="channelsApp" ng-controller="channelsController as controller">
    <div class="channel" ng-attr-id="{{'div-' + channel.code}}" ng-repeat="channel in channels">
        <div class="channel-activity">
            <div class="channel-descrip">
                <span>{{channel.code}}</span><span class="delimiter">|</span><span>{{channel.ssnCnt}}</span><span class="delimiter">|</span><span class="nonemp">{{channel.ssnCnt - channel.eSsnCnt}}</span><span class="delimiter">|</span><span class="emp">{{channel.eSsnCnt}}</span>
            </div>
            <div class="channel-chart">
                <canvas ng-attr-id="{{'canvas-' + channel.code}}"></canvas>
            </div>
            <svg height="100%" width="100%">
                <circle my-fill-color="{{session.IsEmployee}}"
                        my-set-cx="{{session.SessionDeactMins}}"
                        my-set-cy="{{session.SessionExistMins}}"
                        ng-attr-id="{{'circle-'+channel.code+'-'+session.SessionId}}"
                        ng-repeat="session in channel.sessions" r="5"
                        onmouseover="javascript: circle_mouseover(this);"
                        onmouseout="javascript: circle_mouseout(this);"
                        ng-click="circleClick()"></circle>
            </svg>
        </div>
        <div class="channel-ticker">
            {{selectedSession}}

        </div>
        <div ></div>
    </div>

</div>
